<h1 mat-dialog-title *ngIf="internalData == null">添加客户端</h1>
<h1 mat-dialog-title *ngIf="internalData != null">修改客户端</h1>
<div mat-dialog-content>
  <div class="name">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>名称</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>详情</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.description">
    </mat-form-field>
  </div>
  <div class="select">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>重置 Token</mat-label>
      <mat-select [(ngModel)]="data.refreshToken" name="typeGroupId" [disabled]="internalData == null">
        <mat-option [value]="true"> 重置</mat-option>
        <mat-option [value]="false"> 保持原样</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>更改状态</mat-label>
      <mat-select [(ngModel)]="data.enable" name="typeGroupId">
        <mat-option [value]="true"> 启用</mat-option>
        <mat-option [value]="false"> 禁用</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [matDialogClose]="null">取消</button>
  <button mat-button [matDialogClose]="data">确定</button>
</div>
