<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-icon" (click)="dash.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>用户管理</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar backgroundColor="primary" color="accent" mat-align-tabs="center">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link" [routerLink]="link.url"> {{link.name}} </a>
</nav>

<router-outlet></router-outlet>
