<h1 mat-dialog-title *ngIf="data!=null && data.data == null">添加角色</h1>
<h1 mat-dialog-title *ngIf="data!=null && data.data != null">修改角色</h1>
<div mat-dialog-content>
  <div class="name">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>名称</mat-label>
      <input matInput placeholder="" [(ngModel)]="resultData.name">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>详情</mat-label>
      <input matInput placeholder="" [(ngModel)]="resultData.description">
    </mat-form-field>
  </div>
  <div class="select">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>配置权限</mat-label>
      <mat-select [(ngModel)]="resultData.permissions" name="permission" multiple>
        <mat-option *ngFor="let perm of permissions" [value]="perm.id">
          {{perm.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>绑定用户</mat-label>
      <mat-select [(ngModel)]="resultData.users" name="user" multiple>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.id}} - {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [matDialogClose]="null">取消</button>
  <button mat-button [matDialogClose]="resultData">确定</button>
</div>
