<div class="container">
  <div role="list">
    <div *ngFor="let item of dataForms">
      <h2 class="title">
        {{item.first.description}}
      </h2>
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>{{item.first.key}}</mat-label>
        <input matInput placeholder="" [formControl]="item.second" [type]="item.first.type|lowercase">
      </mat-form-field>
      <div class="update-btn">
        <button mat-raised-button color="primary" (click)="submit(item.first.key,item.second.value)">提交</button>
        <button mat-raised-button color="accent" (click)="item.second.setValue(item.first.value)">重置</button>
        <button mat-raised-button color="warn" (click)="item.second.setValue(item.first.defaultValue)">重置为默认值</button>
      </div>
    </div>
  </div>
</div>
