<h1 mat-dialog-title *ngIf="data != null">修改用户 {{data.name}}</h1>
<h1 mat-dialog-title *ngIf="data == null">添加</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>用户名</mat-label>
    <input matInput placeholder="" [formControl]="name">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>邮箱</mat-label>
    <input matInput placeholder="" [formControl]="email">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>手机号</mat-label>
    <input matInput placeholder="" [formControl]="phone">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>密码</mat-label>
    <input matInput type="password" [formControl]="password">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeClick()">取消</button>
  <button mat-button [matDialogClose]="post()">确定</button>
</div>
